@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Poppins:wght@600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.containerForm{
	background: #151515;
	font-family: 'Poppins', sans-serif;
	height: 500px;
	display: grid;
	place-content: center;
	color: #fdfbfe;
    width: 500px;
    border-radius: 20px;
    

}
.loginForm{
    width: 310px
}
.containerForm h1{
    margin-top: -50px;
    display: flex;
    justify-content: center;
}
.input-header{
    position: absolute;
    left: 10px;
    top: 14px;
    padding: 0 2px;
    z-index: 1;
    color: #fdfbfe;
    
}

.input-control {
    width: 280px;
    position: relative;
    margin-top: 30px;
    justify-content: center;
}


.input-control input {
    width: 100%;
    height: 100%;
    border: 2px solid #382f26;
    border-radius: 5px;
    font-size: 18px;
    color: #fdfbfe;
    outline: none;
    padding: 0.8rem;
    background: #272530;
    transition: all .3s;
   
     
}

.input-header::before{
    content: "";
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.input-control input:focus{
    border: 2px solid #d07ee7;

}

.input-control input:focus +.input-header
.filled{
    color: #d07ee7;
    top: -10px;
    font-size: 14px;
    
}

.input-control input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all .3s;

}

.input-control input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}

.input-control input:focus+.input-header,
.input-control input:valid+.input-header{
    top: -22px;
    color: whitesmoke;
    font-size: 14px;
}

.input-control.success input {
    border-color: #382f26;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 20px;
    margin-top: 5px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
   
}

.errorMsg{
    color: #ff3860;
    font-size: 17px;
    display: flex;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    position: relative;
} 

.btn-position{
    display: flex;
    position: relative;
    padding-top: 10px;
    justify-content: center;
}

.custom-p{
    margin-top:15px;
    display:flex;
}
.custom-p::before, .custom-p::after{
    color:#fdfbfe;
    content:'';
    flex:1;
    border-bottom:groove 1px;
    margin: auto 0.2rem;
    height: 1px;
    
}

.btn-provider-container{
    background: transparent;
    margin-top: -10px;
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-register{
    color: #fdfbfe;
    padding-top: 0px;
    font-size: 15px;
}

.link-register:hover{
    color: #d07ee7;
}

.Register-link-with-text{
    margin-top: -10px;
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}