.FormContainer{
    display:flex;
}

.FormContainer h1{
    padding-top: 0px;
    padding-left: 60px;
    color: black;
    
}
.FormContainer form {
    background-color: #e70f0f;
    
    width: 600px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
.FormContainer label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
.FormContainer input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }